@import url(../css/clash-display.css);

/* VARIABLES IDENTIFICATION*/
:root{
    --c-dark: #212529;
    --c-brand: #238a8c;
    --c-brand-light: #379798;
    --c-brand-rgb: 35,138,140;
    --c-body:#ffffff;
    --font-base:"ClashDisplay",sans-serif;
    --box-shadow:0px 15px 25px rgba(0,0,0,0.08);
    --transition:all 0.5s ease;
}


body{
    font-family: var(--font-base);
    line-height:1.7;
    color:var(--c-body);
    /* margin-bottom:50px; */
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 
{
    font-weight: 600;
    /* color: var(--c-dark); */
    color:black;
}

p{
    font-weight:450;
    color:black;
}

a{
    text-decoration:none;
    color: var(--c-brand);
    transition: var(--transition);
}

a:hover{
    color:var(--c-brand-lightlight);
}

img {
    max-width: 100%;
    height: auto;
}

.section.padding{
    padding-top :140px;
    padding-bottom: 140px;
}

/* NAVBAR */

.navbar{
    box-shadow: var(--box-shadow);
}
.navbar-nav .nav-link{
    font-weight: 500;
    color : var(--c-dark);
}
.navbar-nav.nav-link.active{
    color: var(--c-brand);
}
.navbar-nav .nav-link:hover,
.navbar-nav.nav-link.active:hover{
    font-weight: 500;
    color : var(--c-brand);
    
}


/* BUTTON (BTN) */
.btn{
    font-weight: 500;
    font-size:14 px;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 10px 20px;
}

.btn-brand{
    background-color: var(--c-brand);
    border-color: var(--c-brand);
    color: white;
    border-radius: 2rem ;
}

.btn-brand:hover{
    background-color: var(--c-brand-light);
    border-color: var(--c-brand-light);
    color: rgb(255, 255, 255);
}


/* HOME PAGE */

#home-page{
    background: linear-gradient(rgb(3,19,36),rgba(102, 156, 160, 0.078)),url(../images/welcome.jpg);
    background-position: center;
    background-size: cover;
}

.custom-text-center{
    text-align: center;
}


/* MY COUNTRY PAGE */

#myCountry-page{
    background: linear-gradient(rgb(3, 19, 36),rgba(116, 105, 89, 0.078)),url(../images/mycountry-banner1.jpg);
    background-position: center;
    background-size: cover;
}

.custom-text-center{
    text-align: center;
}

.custom-text-center h5{
    margin-bottom: 80px;
}

/* SECTION TITLE */
.section-title{
    margin-top: 40px;
    margin-bottom: 60px;
}

.section-title .line{
    width: 70px;
    height: 4px;
    background-color:var(--c-brand);
    margin:5px auto 24px auto ;  /* top , right, bottom, left*/
}

.section-title p{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    color: var(--c-dark);
    font-weight: 600px;

}
/*MY PHOTO - ABOUT PAGE*/
.myPicture-aboutpage {
    max-width: 100%;
    height: auto;
  }

/* ICONBOX STYLING*/
.iconbox{
    width: 50px;
    height: 50px;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--c-brand-rgb),0.2);
    color:var(--c-brand);
    font-size: 35px;
    flex: none;
}

/* SPACE SETTING FOR PAGE'S MARGIN-BOTTOM */
.bottom-space{
margin-bottom: 50px;
}

/* MyCountryPage - POPULATION */
#myCountry-population{
    background: linear-gradient(rgb(16, 83, 101),rgba(95, 162, 167, 0.315)),url(../images/seaside-bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 5rem;
}

/* ICONBOX2 STYLING (SMALLER VR.)*/
.iconbox2{
    width: 40px;
    height: 40px;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--c-brand-rgb),0.2);
    color:var(--c-brand);
    font-size: 25px;
    flex: none;
}

/* SETTING FOR SLIDER */
.container-sliders{
    padding: 1rem;
}

.slider-wrapper {
	position: relative  ;
	max-width: 48rem;
	margin: 0 auto;
    
}

.slider {
	display: flex;
	aspect-ratio:408/250;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 0.5rem;
	-ms-overflow-style: none; /* Hide scrollbar IE and Edge */
	scrollbar-width: none; /* Hide scrollbar Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}

/* Custom CSS for linked button */
.linked-btn {
    background-color: #f44336;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    /* Remove default underline */
    display: inline-block;
    text-align: center;
}

.linked-btn:hover {
    background-color: #ff6666;
}

/* Styling for modal content */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 2rem;
    max-width: 400px;
    text-align: center;
}
.modal-description {
    margin-bottom: 1rem;
}
.modal-button {
    background-color: var(--c-brand);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.modal-button:hover{
    background-color: #000000;
    color:#0d9fa1;
    
}

/* OUR HERITAGES PAGE */
#heritage-page{
    background: linear-gradient(rgb(3,19,36),rgba(102, 156, 160, 0.078)),url(../images/ourHeritage-banner.jpg);
    /* background: linear-gradient(rgb(5, 23, 5),rgba(102, 165, 101, 0.178)),url(../images/ourHeritage-banner.jpg); */
    background-position: center;
    background-size: cover;
}
#heritage-photo{
    border-radius: 2rem;
}

/* MY INTEREST PAGE */
header{
    padding:1rem;
    display:flex;
    justify-content: flex-end;
}

.search{
    border: none;
    border-bottom: 2px solid var(--c-brand-light);
    outline: none;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movie{
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow:var(--box-shadow);
    background-color: #238a8cee;
    position: relative;
    overflow: hidden;

}

.movie img{
    width: 100%;
}

.movie-info{
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3{
    margin-top: 0;
}

.movie-info span{
    background-color: antiquewhite;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green{
    color: lightgreen;
}
.movie-info span.orange{
    color: orange;
}
.movie-info span.red{
    color: red;
}

.overview{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 1rem;
    max-height: 100%;
    transform:translateY(101%);
    transition: transform 0.3s ease-in;
    
}
.movie:hover .overview{
    transform :translateY(0);
}
